<div class="nav-bar">
  <div class="navbar-header-left">
    <div class="menu-icon" (click)="toggleMenu()" [class.open]="isMenuOpen">
      <div class="bar bar-top"></div>
      <div class="bar bar-middle"></div>
      <div class="bar bar-bottom"></div>
    </div>
    <a routerLink="/home" class="navbar-brand">
      <img src="assets/img/logo_bdl.png" alt="Logo Bolão Balde de Lixo" class="navbar-logo">
    </a>
  </div>

  <div class="desktop-center-content" *ngIf="!isMobile">
    <ng-container *ngIf="isLoggedIn$ | async">
      <a routerLink="/home" class="nav-item">
        <i class="bi bi-house-fill me-2"></i> Página Inicial
      </a>
      <a routerLink="/apostar" class="nav-item">
        <i class="bi bi-card-checklist me-2"></i> Apostar
      </a>
      <a routerLink="/ranking" class="nav-item">
        <i class="bi bi-trophy-fill me-2"></i> Classificação
      </a>
      <a routerLink="/profile" class="nav-item">
        <i class="bi bi-person-fill me-2"></i> Perfil ({{ currentUserUsername$ | async }})
      </a>
    </ng-container>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/login" class="nav-item">
        <i class="bi bi-box-arrow-in-right me-2"></i> Entrar
      </a>
      <a routerLink="/register" class="nav-item">
        <i class="bi bi-person-plus-fill me-2"></i> Registre-se
      </a>
    </ng-container>
  </div>

  <div class="desktop-right-actions" *ngIf="!isMobile && (isLoggedIn$ | async)">
    <a (click)="onLogout()" class="nav-item logout-link">
      <i class="bi bi-box-arrow-right me-2"></i> Sair
    </a>
  </div>

  <div #navLinksMobileRef class="nav-links-mobile" [class.active]="isMenuOpen" *ngIf="isMobile">
    <ng-container *ngIf="isLoggedIn$ | async">
      <a routerLink="/home" (click)="toggleMenu()" class="nav-item">
        <i class="bi bi-house-fill me-2"></i> Página Inicial
      </a>
      <a routerLink="/apostar" (click)="toggleMenu()" class="nav-item">
        <i class="bi bi-card-checklist me-2"></i> Apostar
      </a>
       <a routerLink="/ranking" (click)="toggleMenu()" class="nav-item">
        <i class="bi bi-trophy-fill me-2"></i> Classificação
      </a>
      <a routerLink="/profile" (click)="toggleMenu()" class="nav-item">
        <i class="bi bi-person-fill me-2"></i> Perfil ({{ currentUserUsername$ | async }})
      </a>
      <a (click)="onLogout(); toggleMenu()" class="nav-item logout-link">
        <i class="bi bi-box-arrow-right me-2"></i> Sair
      </a>
    </ng-container>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/login" (click)="toggleMenu()" class="nav-item">
        <i class="bi bi-box-arrow-in-right me-2"></i> Entrar
      </a>
      <a routerLink="/register" (click)="toggleMenu()" class="nav-item">
        <i class="bi bi-person-plus-fill me-2"></i> Registre-se
      </a>
    </ng-container>
  </div>
</div>
