.content {
    align-items: center;
    background-color: wheat;
    border-radius: 8px;
    padding: 20px; /* Adicionado um padding interno para o conteúdo do card */
    max-width: 800px; /* Opcional: limitar a largura do conteúdo para melhor leitura */
    margin-left: auto; /* Centraliza o card na página */
    margin-right: auto;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url('../../../assets/img/logo_bdl.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* Animação de Pulsar */
    animation: pulse 2s infinite alternate; /* Nome, duração, repetição, alternar direção */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Tamanho normal */
    }
    100% {
        transform: scale(1.1); /* Aumenta 10% do tamanho */
    }
}