html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}

/* Estilo para o componente raiz, app-root, que engloba tudo */
app-root {
  display: flex; /* Para que seus filhos (navbar e main-content) se comportem bem */
  flex-direction: column; /* Coloca os filhos em coluna */
  min-height: 100vh; /* Faz com que o app-root ocupe a altura mínima da viewport */
}

/* Estilo para empurrar o conteúdo abaixo da navbar fixa */
.main-content-wrapper {
  padding-top: 80px;
  min-height: calc(100vh - 80px); 
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../public/img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* ajuste aqui */
    z-index: -1;
}
